.place__image {
    grid-area: image;
    max-width: 460px;
    width: 100%;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 767px) {
    .place__image {
        display: flex;
        align-items: flex-start;
        max-width: 320px;
        margin: 32px auto 0;
    }
}