.footer__links-item {
    list-style: none;
    margin: 0 18px 0 0;
    padding: 0;
}

.footer__links-item:last-child {
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__links-item {
        margin: 0 0 32px;
    }
}