.place__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.place__link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .place__link {
        display: flex;
        max-width: 288px;
        width: 100%;
        margin: 12px auto 0;
    }
}