.footer__column_content_copyright {
    display: flex;
    flex-basis: content;
}

@media screen and (max-width: 767px) {
    .footer__column_content_copyright {
        max-width: 186px;
        max-height: 14px;
        max-height: fit-content;
    }    
}