.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
    width: 100%;
    margin: 28px 48px auto;
}

@media screen and (max-width: 768px) {
    .header__container {
        margin: 28px 24px auto;
    }
}

@media screen and (max-width: 320px) {
    .header__container {
        margin: 16px 16px auto;
    }
}