.footer__column_content_info {
    display: flex;
    flex-basis: content;
}


@media screen and (max-width: 767px) {
    .footer__column_content_info {
        max-width: 186px;
        max-height: 498px;
        width: 100%;
        height: 100%;
    }    
}